<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="PRD-DB"
      connectionString="Data Source=prd-server.com.au;Initial Catalog=PRD-DB;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework"
      xdt:Transform="SetAttributes" xdt:Locator="Match(prd)"/>
  </connectionStrings>
  <appSettings>
    <add key="appDescription" value="PRD Environment - Coding Exercise Demo Application - Customers Management"/>
    <add key="appAuthor" value="PRD Environment - Yuxuan Li - Sep/2018"/>
    <add key="appVersion" value="PRD Environment - Demo 1.0"/>
    <add key="contactAddress" value="PRD Environment - 613/74 Queens Rd, Melbourne, VIC, 3004"/>
    <add key="contactPhone" value="PRD Environment - 0420 940 819"/>
    <add key="contactEmail" value="PRD Environment - yli89@outlook.com"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(prd)" />
    <customErrors defaultRedirect="GenericError.htm"
    mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="InternalError.htm"/>
    </customErrors>
  </system.web>
</configuration>