@{
    ViewBag.Title = "About this application";
}
<h2>@ViewBag.Title</h2>
<br />
<br />
<h4>Description: @ViewBag.Description</h4>
<br />
<h4>Author: @ViewBag.Author</h4>
<br />
<h4>Version: @ViewBag.AppVersion</h4>
